@model CONTROLECT.Models.Faixa

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Faixa - Detalhe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeFaixa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeFaixa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFaixa">Editar</a> |
    <a asp-action="Index" class="btn btn-info">Voltar</a>
</div>
