@model CONTROLECT.Models.Mensalidade

@{
    ViewData["Title"] = "Edit";
}

<h4>Mensalidade - Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMensalidade" />

            <div class="form-group">
                <label asp-for="NumeroRecibo" class="control-label"></label>
                <input asp-for="NumeroRecibo" class="form-control" />
                <span asp-validation-for="NumeroRecibo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdAtleta" class="control-label"></label>
                <select asp-for="IdAtleta" class="form-control" asp-items="ViewBag.IdAtleta"></select>
                <span asp-validation-for="IdAtleta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdModalidade" class="control-label"></label>
                <select asp-for="IdModalidade" class="form-control" asp-items="ViewBag.IdModalidade"></select>
                <span asp-validation-for="IdModalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPagamento" class="control-label"></label>
                <input asp-for="DataPagamento" class="form-control" />
                <span asp-validation-for="DataPagamento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdMes" class="control-label"></label>
                @*<input asp-for="IdMes" class="form-control" />*@
                <select asp-for="IdMes" class="form-control" asp-items="ViewBag.Meses"></select>

                <span asp-validation-for="IdMes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdFormaPagamento" class="control-label"></label>
                <select asp-for="IdFormaPagamento" class="form-control" asp-items="ViewBag.IdFormaPagamento"></select>
                <span asp-validation-for="IdFormaPagamento" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdProfessor" class="control-label"></label>
                <select asp-for="IdProfessor" class="form-control" asp-items="ViewBag.IdProfessor"></select>
                <span asp-validation-for="IdProfessor" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="QuitadoProfessor" /> @Html.DisplayNameFor(model => model.QuitadoProfessor)
                </label>
            </div>

            @*<div class="form-group">
                    <label asp-for="ValorRepasseProfessor" class="control-label"></label>
                    <input asp-for="ValorRepasseProfessor" class="form-control" />
                    <span asp-validation-for="ValorRepasseProfessor" class="text-danger"></span>
                </div>*@


            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>


            <input asp-for="DataSistema" class="form-control" type="hidden" />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </div>
        </form>
    </div>
</div>



